// root colors
$bg-light: rgb(238, 234, 234);
$bg-dark: rgb(150, 150, 150);
$red-primary: rgb(221, 53, 53);
$red-light: rgb(255, 184, 184);
$yellow-primary: rgb(240, 240, 61);
$yellow-light: rgb(253, 253, 227);
$green-primary: rgb(34, 170, 34);
$green-light: rgb(217, 248, 217);
$blue-primary: rgb(33, 33, 179);
$blue-light: rgb(210, 218, 228);

// die animation
.die-active {
  animation: spin 500ms linear;

  @keyframes spin {
    100% {
      transform: rotate(180deg);
    }
  }
}

// global classes

.die {
  font-size: 5rem;
  color: lightgray;
  margin: 0 4px;
}

.btn-roll {
  border: none;
  outline: none;
  padding: 4px 1rem;
  color: #fff;
  background-color: salmon;
  border-radius: 10px;
  margin-left: 2rem;
  font-size: 1.5rem;
}

.btn-roll:hover {
  background-color: rgb(252, 85, 66);
}
.row {
  padding: 6px 4px 6px 1rem;
  margin: 4px 0;
}
.score-box {
  //padding: 1rem 1.2rem;
  padding-top: 12px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  border: 1px solid #333;
}

.lock {
  margin-left: 10px;
  border-radius: 50%;
}

.info-card {
  display: grid;
  width: 40px;
  height: 60px;
  text-align: center;
  padding-top: 6px;
  background-color: #fff;
  border: 3px solid $bg-dark;
  border-radius: 10px;
  margin: 0 2px;
  font-weight: bold;

  span:first-child {
    border-bottom: 1px solid $bg-dark;
  }

  span:last-child {
    padding-top: 2px;
  }
}

.penalty-box {
  padding: 1rem;
  background-color: #fff;
  border: 3px solid $bg-dark;
  border-radius: 8px;
  margin: 0 2px;
}

.score-total {
  padding: 1rem 1.8rem;
  background-color: #fff;
  border-radius: 8px;
}
